body{
        margin: 0;
        padding: 2rem 0;
        width: 100%;
        background: #FFBA00;
        font-family: 'Inconsolata', monospace;
        text-align: center;
}

section {
    display: block;
}

html {
    color: -internal-root-color;
}